* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.grid-container {
  display: grid;
  grid-template: 165px auto / 275px auto;
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-template-rows: 1fr 1.25fr;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-left {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  justify-items: center;
  margin: 10px;
}

.search-icon {
  margin-left: 50px;
}

#searchBar {
  margin-right: 15px;
  width: 90%;
  height: 60%;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  background: #efe8e8;
}

.top-right {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 0.4fr;
  align-items: center;
  justify-items: center;
}

.profile-image {
  margin-right: 30px;
}

.bottom-left {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-items: start;
}

.bottom-left img {
  justify-self: start;
  border-radius: 50%;
  margin-left: 50px;
}

.welcome-message {
  justify-self: start;
  margin: 0 15px;
}

.bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
  justify-items: center;
}

.bottom-right button {
  height: 45%;
  width: 120%;
  color: white;
  background: #2563eb;
  border-radius: 30px;
  border: none;
  font-size: 1em;
}

.sidebar {
  background: #dbeafe;
  grid-row: 1 / 5;
}

.dashboard-section {
  font-weight: bold;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  align-items: center;
  margin: 25px 0 0 20px;
  font-size: 2em;
  column-gap: 10px;
}

.dashboard-section:hover {
  cursor: pointer;
}

.first-section {
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(auto, 1fr);
  grid-row-gap: 15px;
  width: 60%;
  align-items: center;
  margin: 50px 0 30px 40px;
  font-size: 1.2em;
}

.second-section {
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(auto, 1fr);
  grid-row-gap: 15px;
  width: 60%;
  align-items: center;
  margin: 50px 0 30px 40px;
  font-size: 1.2em;
}

.first-section p:hover,
.second-section p:hover {
  cursor: pointer;
}

.main-container {
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 4fr 1.5fr;
}

.projects-section {
  background: darkblue;
}

.side-section {
  background: green;
}
